@import url(//db.onlinewebfonts.com/c/3d37467c4a9c7c1188bc3e0b7aadfa0d?family=Bangla+MN);
:root{
    --bg-main-color: #FFD12B;
    --bg-sub-color: #EFE1AC;
    --text-main-color: #672BFF;

}

/*  main title  */
#title{
    color: var(--text-main-color);
    text-align: center;
    font-family: "Bangla MN";

    background-color: var(--bg-main-color);
}

/*  block's title  */
div.block > h2{
    color: var(--text-main-color);
    text-align: left;
    font-family: "Bangla MN";
}

/*  button  */
div.button {
    background-color: var(--bg-main-color);
}