button.icontxt {
    border-radius: var(--border-radius);
}

button#import::before {
    background: url("../images/import.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}
button#export::before {
    background: url("../images/export.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}