/* import button */
button#import::before {
    background: url("../images/import.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}

section#data{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row2;
    position: relative;
}

div#dattable {
    width: 100%;
    height: 100%;
}

