/* import button */
button#import::before {
    background: url("../assets/import.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}

section#data{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: rowend;
    position: relative;
}

div#dattable {
    height: 100%;

    margin: var(--main-margin);

    font-size: 18px;
}

/* for tablet */
@media screen and (max-width: 1024px) { 
    section#data{
        grid-column-start: col1;
        grid-column-end: colend;
        grid-row-start: row3;
        grid-row-end: rowend;
        position: relative;
    }
}