section#settings{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row2;
    position: relative;
}

div.scroll {
    margin: var(--main-margin);
    overflow: auto;
}

/* settings header */
header.sethead {
    font-size: var(--sethead-fontsize);
}
header.sethead > .bar{
    width: auto;
    height: 5px;
    display: block;

    background-color: var(--text-main-color);
}

/* with hint */
span#headparams::after {
    content: url("../images/hint.png");
}