section#settings{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row2;
    position: relative;
}

div.scroll {
    margin: var(--main-margin);
    overflow: auto;
}

/* settings header */
header.sethead {
    font-size: var(--sethead-fontsize);
    overflow: visible;
}
header.sethead > .bar{
    width: auto;
    height: 5px;
    display: block;

    background-color: var(--text-main-color);
}

/* with hint */
#headparams::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;

    background-size: 30px 30px;
    background-image: url("../images/hint.png");
}

/*
hover
https://developer.mozilla.org/ja/docs/Web/CSS/::after
*/