section#settings{
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: rowend;
    position: relative;
}

div.scroll {
    margin: var(--main-margin);
    overflow: auto;
}

/* settings header */
header.sethead {
    font-size: var(--sethead-fontsize);
}
header.sethead > .bar{
    width: auto;
    height: 5px;
    display: block;

    background-color: var(--text-main-color);
}

/* hint */
/*
#headparams::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;

    background-size: 30px 30px;
    background-image: url("../images/hint.png");
}*/
#hinticon{
    cursor: pointer;
}
#paramtips {
    grid-column-start: col1;
    grid-column-end: col2;
    grid-row-start: row2;
    grid-row-end: rowend;
    position: relative;

    width: fit-content;
    height: fit-content;

    display: none;

    background-color: aliceblue;
    z-index: 2;
}
/*ここからああああ*/
#input-param {
    width: inherit;
}