/* body */
body{
    margin: 0px;
}

/*  main title  */
main.title{
    height: var(--title-height);
    width: 100vw;

    display: flex;
    flex-wrap: nowrap;

    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
}


/* title text */
h1.titletxt {
    width: calc(100vw - var(--title-image-width)*2 + 48px);
    height: inherit;
    top: 0px;
    margin: 0px;
    font-size: var(--title-fontsize);
    line-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    background-color: var(--bg-main-color);
    transform: skew(-6deg);

    margin-left: -24px;
    margin-right: -24px;
    z-index: 1;

    color: var(--text-main-color);
    text-align: center;
    font-family: "Bangla MN";
}


/* title images */
main.title > img.titleimg {
    width: var(--title-image-width);
    height: inherit;
}
main.title > #workout {
    left: 0px;
}
main.title > #run {
    right: 0px;
}

/* breakpoint specific to title */
@media screen and (max-width: 1200px) { 
    h1.titletxt {
        width: calc(100vw - 25vw*2 + 48px);
        height: inherit;
    }

    main.title > #workout {
        left: 0px;
        width: 25vw;
    }
    main.title > #run {
        right: 0px;
        width: 25vw;
    }    
}
/* for tablet */
@media screen and (max-width: 1024px) { 
    h1.titletxt {
        width: 100vw;
        height: inherit;

        display: inline;

        margin-left: 0px;
        margin-right: 0px;
    }

    main.title > #workout {
        display: none;
    }
    main.title > #run {
        display: none;
    }    
}
